footer {
    position: relative;
    width: 100%;
    background-color: rgba(84, 116, 253, 1);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .logo {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    color: white;
}
footer .menu {
    display: flex;
    gap: 15px;
    font-family: 'Aleo', regular;

    margin-right: 20px;
}
footer .menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;

}