header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 35% 25% auto;
  grid-template-rows: 20% 35% 25% auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  height: 821px;
  background: url("../images/headerimg.png") center/cover no-repeat;
  color: white;
  text-align: center;
}header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}header > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}header > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}header > *:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
header .hero-content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  color: #fff;
}
header .hero-content h1 {
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}
header .hero-content p {
  font-size: 22px;
  font-family: "Josefin Sans", regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  letter-spacing: 6.8px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transform: translateY(170px);
          transform: translateY(170px);
}
header .search-bar {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  max-width: 450px;
  height: 55px;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(84, 116, 253);
}
header .search-bar input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #999999;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
}
header .search-bar button {
  padding: 8px 20px;
  font-size: 14px;
  color: #fff;
  background-color: rgb(84, 116, 253);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
header .search-bar button:hover {
  background-color: #6577ff;
}
header .scroll-down {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 108px;
  height: 46px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header .scroll-down img {
  width: 100%;
  height: auto;
}
header .scroll-down:hover {
  color: #6577ff;
}