.how-it-works {
  background-image: url("../../images/Rectangle 9.png");
  width: 100%;
  min-height: 340px;
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
}

.how-it-works .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  width: 100%;
  max-width: 1773px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.how-it-works .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 20px;
}

.how-it-works .step .icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.how-it-works .step p {
  color: #E8E8E8;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.6px;
}