.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../../images/lastsection1.png") center/cover no-repeat;
    height: 731px;
    padding: 20px;
    color: #fff;
    text-align: center;
    gap: 20px; /* Space between heading and content */
}

.testimonial h2 {
    font-size: 36px;
    font-family: 'Aleo', serif;
    margin-bottom: 30px; /* Ensure spacing below the heading */
}

.testimonial-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 0px; 
}

.testimonial-content .img-testimonial {
    background: url("../../images/lastsection2.png") center/cover no-repeat;
    width: 445px;
    height: 287px;
    border-radius: 5px;
    margin-right: 0px;
}

.testimonial-content .text-container {
    background-color: rgba(35, 35, 35, 0.9);
    width: 668px;
    height: 287px;
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
}

.testimonial-content .text-container .name {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 10px; /* Space between name and description */
}

.testimonial-content .text-container .description {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 26px;
    letter-spacing: 0px;
}
